* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
/* COMMON */
html {
  font-size: 100%;
}
ul {
  margin-bottom: 0;
  list-style: none;
  list-style-position: inside;
}
a {
  text-decoration: none;
  color: inherit;
}
.ms-btn-banner {
  background-color: orange;
  padding: 0.5em 1em;
  border-radius: 20px;
  color: #fff;
  margin-bottom: 1em;
  display: inline-block;
}

/* HEADER */
/* HEADER BANNER */
.header-banner {
  background-color: black;
  padding: 0.5em;
  width: 100%;
  text-align: end;
}
.header-banner img {
  width: 5em;
}
.nav-item img {
  width: 0.5em;
}
.nav-item .nav-link {
  color: black;
}
header .nav .nav-item .btn .log-in a {
  background-color: black;
  display: block;
  padding: 1em;
  border-radius: 20px;
}
.nav-item .nav-link:last-child img {
  width: 1.3em;
}

/* JUMBOTRON */
#jumbotron {
  /* background-image: url("../img/jumbo-bg.png");
  background-size: cover;
  background-position: bottom;
  height: 50vh; */
}
.banner-bg {
  background-image: url(../img/jumbo-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.jumbo-title {
  width: 60%;
}
#jumbotron h2,
p {
  color: #fff;
}
