* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
/* COMMON */
img {
  width: 100%;
}
html {
  font-size: 100%;
}
ul {
  margin-bottom: 0;
  list-style: none;
  list-style-position: inside;
}
a {
  text-decoration: none;
}

.ms-btn-banner {
  background-color: orange;
  padding: 0.5em 1em;
  border-radius: 20px;
  color: #fff;
  margin-bottom: 1em;
  display: inline-block;
  border: 1px solid orange;
}

.ms-btn-banner:hover {
  box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 3px #fff;
  color: #fff;
}
.ms-btn {
  color: #fff;
  background-color: #2d64e6;
  padding: 0.5em 1em;
  border-radius: 20px;
  border: 1px solid #2d64e6;
  cursor: pointer;
}

.ms-btn:hover {
  box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 3px #fff;
  color: #fff;
}

.ms-btn-gray {
  color: #2d64e6;
  background-color: #d9dadc;
  padding: 0.5em 1em;
  border-radius: 20px;
}
.ms-btn-gray:hover {
  box-shadow: inset 0 0 0 3px #2d64e6, inset 0 0 0 3px #2d64e6;
  color: #2d64e6;
}

.ms-btn-white {
  color: black;
  background-color: #fff;
  padding: 0.5em 1em;
  border-radius: 20px;
}
.ms-btn-white:hover {
  box-shadow: inset 0 0 0 3px black, inset 0 0 0 3px black;
  color: black;
}

/* HEADER */
/* HEADER BANNER */
.header-banner {
  background-color: black;
  padding: 0.5em;
  width: 100%;
  text-align: end;
}
.header-banner img {
  width: 5em;
}

.nav-item .nav-link {
  color: black;
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.355em;
  vertical-align: 0.155em;
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  color: gray;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
}
.dropdown:hover .dropdown-toggle::after {
  color: #2d64e6;
}

#log-in-btn {
  background-color: black;
  color: #fff;
  display: inline-block;
  padding: 0.2em 0.5em;
  border-radius: 20px;
  text-align: center;
  vertical-align: middle;
  line-height: 1rem;
  cursor: pointer;
  border: 1px solid black;
}
#log-in-btn:hover {
  box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 3px #fff;
}
#log-in-btn a {
  color: #fff;
}
.nav-item .nav-link:last-child img {
  width: 1.3em;
}

/* JUMBOTRON */
#jumbotron {
  margin-top: 1.5em;
}
.jumbo-bg {
  background-image: url(../img/jumbo-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 5em;
}
.jumbo-title {
  width: 70%;
}
#jumbotron h2,
p {
  color: #fff;
}
/* SECTION FEATURED GAMES */
#featured-games img {
  border-radius: 10px;
}
#featured-games img:hover {
  border: 2px solid #2d64e6;
  transform: translateY(-0.7em);
}

#featured-games .ms-img-active {
  border: 2px solid #2d64e6;
}
/* SECTION INTRO BANNER */
#intro-banner p {
  color: gray;
}
#intro-banner span {
  color: rgb(86, 86, 216);
  text-transform: uppercase;
  font-size: 0.7rem;
}
/* SECTION PLAYSTATION5 */

#playstation5 p {
  color: gray;
  width: 80%;
}
.ms-card-active {
  border-bottom: 1px solid #2d64e6;
}
.ms-card-active > * {
  padding: 0 0.5em;
}

.ms-card img {
  opacity: 0.5;
}
.ms-card p {
  margin: 0 auto 1em;
}

.ms-card:hover img {
  opacity: 1;
  padding: 0 0.5em;
}
.ms-card:hover {
  border-bottom: 1px solid #2d64e6;
}
/* SECTION BANNER */
.banner-bg {
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
#banner h2 {
  color: #fff;
}
/* SECTION NEW GAMES */
#new-games {
  padding-top: 2em;
  background-color: #1f1f1f;
  color: white;
}
/* SECTION PLAYSTATION4 */
#playstation4 {
  padding-top: 2em;
  padding-bottom: 3em;
}
#playstation4 p {
  color: gray;
}
/* SECTION PS+ */
#ps-plus {
  background-color: #bebcbb;
}
/* SECTION DISCOUNT */
#discount p {
  color: gray;
}

/* SECTION PSNOW */
#ps-now {
  background-color: #161c3b;
}

/* FOOTER */
footer {
  background-color: #00439c;
  color: #fff;
}
footer img {
  width: 5em;
}

.country {
  line-height: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.country img {
  width: 1rem;
  vertical-align: middle;
}
.country p {
  vertical-align: middle;
  margin-bottom: 0;
  font-weight: 100;
}

#sony-footer-logo {
  width: 13em;
  margin-bottom: 2em;
}

footer p a {
  text-decoration: underline;
}
